{% extends 'core/base.html' %}

{% block title %}Add Figure{% endblock %} 

{% block content %}
    
    <h1 class="text-2xl font-bold mb-4">Camera Data Dashboard</h1>

        {% if graph1 %}
            <div class="mb-6">{{ graph1|safe }}</div>
            <div class="mb-6">{{ graph2|safe }}</div>
            <div class="mb-6">{{ graph3|safe }}</div>
        {% else %}
            <p class="text-gray-600 italic">No detection data available for your account yet.</p>
        {% endif %}

    <h1>Add Figure</h1>
    

    <form method="post" action="/data/add-figure">
        {% csrf_token %}

        {{ form.as_p }}
    
        <button class="mt-4 py-4 px-6 bg-gray-800 text-white rounded-xl">Submit</button>

    </form>
{% endblock %} 